@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}
@media screen and (min-width: 655px) and (max-width: 10000px) {
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    color: darkgoldenrod;
}
header{
    text-align: center;
    display: block;
}
div{
    display: inline-block;
    
}
header > h1{
    padding: 20px;
}
section#tudo{
    max-width: 800px;
    min-width: none;
    border-radius: 10px;
    padding: 5px;
    background-color: aliceblue;
    margin: auto;
    text-align: center;
    box-shadow: 2px 2px 5px black;
}
a{
    color: rgb(0, 161, 62);
    text-decoration: none;
    font-size: 1.1em;
    padding: 10px;
    line-height: 20px;
}
div#img1{
    background-color: rgb(0, 255, 255);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}
div#img2{
    background-color: rgb(0, 255, 255);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}
div#img3{
    background-color: rgb(0, 255, 255);
    padding: 30px;
    margin: 20px;
    border-radius: 30px;
}
a{
    text-decoration: none;
    padding: 10px;
    line-height: 15px;
    font-size: 1.2em;
    color: rgb(0, 161, 62);
}
a:hover{
    color: darkred;
}
div#menu{
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px;
    transform: translate(-1000%, -550%);
    border-radius: 10px;
    margin: 5px;
    cursor: pointer;
}
div#item{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-320%, -250%);
background-color: lightyellow;
padding: 5px;
line-height: 35px;
border-radius: 5px;
display: none;
}
}

@media screen and (min-width: 0px) and (max-width: 655px) {
    div#menu{
        position: absolute;
        top: 50%;
        left: 50%;
        padding: 5px;
        transform: translate(-470%, -600%);
        border-radius: 10px;
        margin: 5px;
        cursor: pointer;
    }
    div#item{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-150%, -270%);
    background-color: lightyellow;
    padding: 5px;
    line-height: 35px;
    border-radius: 5px;
    display: none;
    }
    body{
        background-color: bisque;
        font-family: Arial, Helvetica, sans-serif;
    }
    header{
        text-align: center;
    }
    h1{
        color: darkgoldenrod;
        font-size: 25px;
        padding: 10px;
        
    }
    section{
        max-width: 350px;
        min-width: none;
        border-radius: 10px;
        padding: 5px;
        background-color: aliceblue;
        margin: auto;
        text-align: center;
        box-shadow: 2px 2px 5px black;
    }
    a{
        color: rgb(0, 161, 62);
        text-decoration: none;
        font-size: 1.1em;
        padding: 10px;
        line-height: 20px;
    }
    div#img1{
        background-color: rgb(0, 255, 255);
        padding: 30px;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 45px;
        margin-bottom: 20px;
        border-radius: 30px;
    }
    div#img2{
        background-color: rgb(0, 255, 255);
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
    }
    div#img3{
        background-color: rgb(0, 255, 255);
        padding: 30px;
        margin: 20px;
        border-radius: 30px;
    }


}
